.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* body{} */
body::-webkit-scrollbar {
  width: 25px;
}
body::-webkit-scrollbar-track {
  background-color: #939393;
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, var(--title-color), #7e3171);
  background-size: contain;
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to top, #7e3171, var(--title-color));
}
body::-webkit-scrollbar-button {
  background-color: var(--title-color);
  border-radius: 2px;
}
